#bolinha{
	border-radius: 20px;
	background-color: red;
	width: 20px;
	height: 20px;
}


#cards {
    border-radius: 10px;
    margin: 0 auto;
    width: 80%;
    height: 20%;
    overflow: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    color: #000000;
}

polymer-ui-card {
    display: block;
    height: 10%;
    width: 20%;
    margin: 20px auto;
    padding: 30px;
    background-color: #FFFFFF;
    border-radius: 10px;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
}


.qrcode {
    margin-top: 10px;
    width: 280px;
    height: 280px;
}


.btn {
    color: white;
    border: 1px solid #5d910b;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #93bd20), color-stop(100%, #659e10));
    background: -webkit-linear-gradient(#93bd20, #659e10);
    background: -moz-linear-gradient(#93bd20, #659e10);
    background: -o-linear-gradient(#93bd20, #659e10);
    background: -ms-linear-gradient(#93bd20, #659e10);
    background: linear-gradient(#93bd20, #659e10);
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), 0px 3px 7px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), 0px 3px 7px rgba(0, 0, 0, 0.7);
    -o-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), 0px 3px 7px rgba(0, 0, 0, 0.7);
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), 0px 3px 7px rgba(0, 0, 0, 0.7);
    background-color: #93bd20;
    padding: 10px 12px;
    margin-top: 6px;
    line-height: 14px;
    font-size: 14px;
    display: inline-block;
    text-align: center;
}


#imgdirection{
    margin: 20px;
    left: 30%;
    position: relative;
    width: 140px;
    height: 140px;
}

.direcoes {
    width: 100%;
    position: relative;
    float: left;
    margin-bottom: 30px;
}